.gallery
  margin: 0 0 40px 0
// .gallery__title
//   display: inline-block
//   vertical-align: top

.gallery__item
  margin: 0 0 20px 0
  transition: opacity .2s
  transform: translate3d(0, 0, 0)
  &:hover
    opacity: 0.85

.gallery__item__link
  display: block
