.header
  height: 60px
  width: 100%
  +box-sizing(border-box)
  +clearfix

.main_navigation
  float: right
  li
    position: relative
    +inline-block
    line-height: 13px
    font-size: 13px
    font-family: Arial
    &.active
      a
        text-decoration: underline
    a
      display: block
      padding: 35px 30px 23px
      color: #fff
      outline: none
      &:hover, &:active, &:visited
        text-decoration: underline
    &:after
      position: absolute
      top: 50%
      right: -2px
      margin: 0
      content: "\f111"
      color: #fff
      font-family: FontAwesome
      font-size: 3px
    &:last-child
      a
        padding-right: 0
      &:after
        content: " "
  .logo
    position: absolute
    font-size: 0
    text-indent: -9999999px
