ul.list-contacts
  display: inline-block
  width: 200px
  vertical-align: top
  margin: 0 0 0 27px
  color: #000
  li
    margin: 0
    font-size: 22px!important
    line-height: 150%!important
    &.contacts_address
      margin-top: 15px
      font-size: 90%!important